<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%d{HH:mm:ss}) [%-5level] --- [%thread] %magenta(%logger{36}) : %msg%n</pattern>
            <!-- Use the desired ANSI escape codes to set colors -->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
